*{margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: .1em;
}
p,a,li,h3{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fcfcfc;
}
h2,h1{
  font-weight: 400;
  font-family: 'Staatliches', cursive;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body_black{
  background: #262525;
}
.body_white{
  background: #fcfcfc;
}
.button_estilo{
  margin-bottom: 20px;
  padding: 5px 20px;
  background: transparent;
  border: 3px solid;
  border-radius: 20px;
  text-shadow: 0px 0px 0px transparent;
  color: #fcfcfc;
  box-sizing: border-box;
  font-size: 1.2em;
  cursor:pointer;
}
/*painel_apresentação*/

.pagina_inicial{
  width: 100%;
}
.fundo_intro{
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.img_fundo{
  background-image: url(../img/pg_fundo.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: zoom 30s;
}
@keyframes zoom{
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

.descricao{
  width: 100%; 
  height: 100vh;
  color: #fcfcfc;
  display: block;
  text-align: center;
  position: relative;
  z-index: 3;
}
.descricao a img{
  width: 70px;
  margin: 100px auto 50px auto;
}
.descricao h1 {
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 50px; 
}
.descricao h2{
  font-size: 1.5em;
  margin-bottom: 100px;
  font-family: 'Noto Sans', sans-serif;
}
.nome_botton{
  position:absolute;
  right: 10px;
  bottom: 10px;
}

/*Menu Footer*/
footer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  z-index: 2;
}
.menu_footer{
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #0D0B0C;
  color: #fcfcfc;
}
.menu_footer ul h2{
  margin-bottom: 20px;
}
.menu_footer li{
  margin-bottom: 10px;
  margin-left: 20px;
}

.menu_footer li::marker{
  font-size: .5em;
}

.barra_final{
  width: 100%;
  min-height: 50px;
  display: flex;
  font-weight: bold;
  background: #fcfcfc;
  align-items: center;
  justify-content: center;
}
.barra_final p{
  color:#3C3939 ;
}

/*barra de menu*/

.barra_menu{
  padding: 0 100px;
  background:#fcfcfc;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  box-sizing: border-box;
}
.navegacao_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.js-button_hamburguer{
  display: none;
}
.barra_menu ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
}
.barra_menu ul li{
  color: #0D0B0C;
  font-weight: 500;
}
.barra_menu .button_estilo{
  margin: 0;
  color: #0D0B0C;
}
.menu_black{ 
  background: #262525;
}
.menu_black ul li, .menu_black .button_estilo{
  color: #fcfcfc;
}

/*sessao boas vindas*/
.bem_vindo{
  padding: 100px 100px 0 100px;
}
.bem_vindo img{
  max-width: 550px;
}
.container_bem_vindo{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: none;
}
.js-bem_vindo.ativo, .js-sobre.ativo{
  display: flex;
  animation: show .8s forwards;
}
@keyframes show{
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0 );
  }
  to{
    opacity:1 ;
    transform: translate3d(0 ,0, 0);
  }
}
.article_boa_vindas{
  max-width: 550px;
  color: #fcfcfc;
}
.article_boa_vindas h2{
  margin-bottom: 20px;
}
/*navegaçao*/
.navegacao {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.navegacao li {
  color: #fcfcfc;
  padding: 5px;
  list-style: circle;
  font-size: 1.5em;
  cursor: pointer;
}
.navegacao li.ativo{
  list-style: inside;
}

/*container sobre*/

.container_sobre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fcfcfc;
  display: none;
}
.container_sobre h2{
  margin-bottom: 20px;
}
.informacoes {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.informacoes p{
 margin-bottom: 70px;
}
.habilidades_lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.habilidades_lista ul{
  list-style: circle;
}
.habilidades_lista li{
  margin-bottom: 10px;
  margin-left: 20px;
}

.habilidades_lista li::marker{
  width: 10px;
  font-size: .9em;
  color: #FFF447;
}
/*lado direito do container*/
.historico_profissional{
  max-width: 450px;
  height: 600px;
  background-image: url(../img/historico_bg.jpg);
  background-size: cover;
  display: flex;
}
.historico_profissional article{
  padding: 10px;
  align-self: flex-end;
}
/*menu de conteudo do footer*/
.sessao_menu_conteudo{
  background: #262525;
}
.sessao_menu_conteudo::before{
  content:"";
  margin: 100px auto;
  display: block;
  max-width: 600px;
  height: 1px;
  background: #fcfcfc;
  opacity: .1;
}
.menu_conteudo{
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fcfcfc;
}
.menu_conteudo div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu_conteudo h2{
  font-size: 1.5em;
}
.menu_conteudo h2:after{
  content:'';
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 1px;
  background: #fcfcfc;
  opacity: .1;
}
.menu_conteudo a img{
  width: 350px;
}
/*Galeria*/
.header_galeria{
  min-height: 400px;
  width: 100%;
  padding: 50px 100px;
  background: no-repeat center url(../img/galeria_header.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}
/*artigo galeria*/
.header_galeria article{
  max-width: 500px;
  color: #fcfcfc;
}
.header_galeria article h2{
  margin-bottom: 50px;
}
.header_galeria article p a{
  color: #0D0B0C;
  font-weight: 700;
}

/*sessao_portifolio*/

.galeria-js{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sessao_portfolio{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
   "h1 h1"
   "div div" ;
  justify-content: center;
  justify-items: center;
  color: #fcfcfc;
}
.sessao_portfolio div{
  max-width: 550px;
}
.sessao_portfolio h1{
  grid-area: h1;
  font-size: 2em;
  text-align: center;
  margin-bottom: 100px;
  cursor: pointer;
}
.sessao_portfolio h1:hover, .sessao_portfolio a:hover{
  color: #FFF447;
}

.projeto{
  cursor: pointer;
}

.projeto::after{
  content: '';
  display: block;
  margin: 50px 0;
  height: 1px;
  max-width: 550px;
  background: #fcfcfc;
  opacity: .1;
}
.projeto h2{
  font-size: 1.5em;
}
.projeto p {
  margin: 20px 0;
  font-size: 1em;
}
.projeto ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.projeto ul h3{
  letter-spacing: .1em;
  font-size: 1em;
}
.projeto li{
  font-size: .8em;
  margin-left: 25px;
  color: #FFF447;
}
.projeto li::marker{
  font-size: 1em;
}

.div_bike:hover, .div_blog:hover,.div_wolf:hover,.div_amazonia:hover,.div_surfbot:hover{
  background-image: url(../img/img_bikecraft_galeria.jpg);
  background-size: cover;
  animation: exibir 1.5s ;
}
.div_blog:hover{
  background-image: url(../img/blog_portfolio.jpg);
}
.div_wolf:hover{
  background-image: url(../img/wolf_portifolio.jpg);
}
.div_amazonia:hover{
  background-image: url(../img/amazonia_portifolio.jpg);
}
.div_surfbot:hover{
  background-image: url(../img/prototipo_surf.jpg);
} 
@keyframes exibir {
 from{
  opacity: 0;
 } to {
  opacity: 1;
 }
}



/* barra de pesquisa da galeria*/

.container_pesquisa{
  max-width: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.container_pesquisa button{
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: #3C3939;
  cursor: pointer;
}
.lupa{
  position: absolute;
  width: 2em;
  margin-left: 10px;
}
.input_nav, .sessao_formulario input{
  max-width: 500px;
  height: 50px;
  outline: none;
  border-radius: 20px;
  border: #3C3939 solid 1px;
  font-size: 1.5em;
  font-weight: 600;
  color: #262525;
  padding-left: 60px;
  padding-bottom: 7px;
  box-sizing: border-box;
}
.input_nav::placeholder{
  font-size: 1em;
  font-weight: 300;
}


/*js-ativo*/
.sessao_portfolio.ativo{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.projeto.inativo{
  display: none;
}
.projeto.ativo{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  cursor: default;
}
.projeto.ativo:hover{
  background-image: none;
  animation: none;
}
.projeto.ativo a{
  list-style: none;
  text-decoration: none;
}
.projeto.ativo p{
  margin: 50px 0 100px 0;
}
.imgs-js{
  display: none;
}
.imgs-js.ativo{
  max-width: 700px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


/*blog*/
.header_blog{
  background-image: url(../img/fundo_blog_inicio.jpg);
  background-size: cover;
}
.article_blog{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.sessao_blog{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fcfcfc;
}
.sessao_fotos, .sessao_artigos, .sessao_viagens{
  width: 100%;
  height: 350px;
  background-image: url(../img/fundo_foto_blog.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  justify-content: space-between;
  margin: 100px 0;
}
.sessao_fotos h1, .sessao_artigos h1, .sessao_viagens h1{
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.sessao_fotos button, .sessao_artigos button, .sessao_viagens button {
  display: flex;
  align-self: center;
  margin-bottom: 50px;
}
.sessao_viagen_artigo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}
.sessao_viagens, .sessao_artigos{
  width: 450px;
  height: 400px;
  background-image: url(../img/fundo_viagens_blog.jpg);
}
.sessao_artigos{
  background-image: url(../img/fundo_artigo_galeria.jpg);
}
.sessao_artigos, .sessao_viagens{
  margin: 0;
}
.sessao_artigos h1, .sessao_viagens h1{
  padding-right: 50px;
}

/*sessao contato*/




@media(max-width: 1300px){
  
.nome_botton{
  margin-top: 150px;
}
.menu_footer{
  padding: 30px 50px 20px 50px;
}

/*barra de menu*/
.barra_menu{
  padding: 0 50px;
  grid-template-columns: 1fr 3fr;
}


/*sessao boas vindas*/
.bem_vindo{
  padding: 100px 50px 0 50px;
}
.container_bem_vindo{
  flex-direction: column;
  align-items: center;
}
.article_boa_vindas{
  padding-top: 70px;
}
.article_boa_vindas h2{
  margin-bottom: 40px;
}
/*container sobre*/
.container_sobre{
  flex-direction: column;
  align-items: center;
}
.habilidades_lista{
  margin-bottom: 100px;
}
/*menu de conteudo do footer*/
.sessao_menu_conteudo::before{
  width: 400px;
}
.menu_conteudo{
  display: block;
  margin-bottom: 50px;
}
.menu_conteudo h2{
  margin-top: 50px;
}
.menu_conteudo a img{
  margin-bottom: 50px;
}
/*Galeria*/

/*sessao_portifolio*/
.sessao_portfolio{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
}
.sessao_portfolio div{
  max-width: 350px;
}

/* barra de pesquisa da galeria*/
.container_pesquisa{
  max-width: 500px;
}

/*blog*/
.header_blog{
  height: 350px;
}
.sessao_fotos{
  width: 100%;
  height: 200px;
}
.sessao_viagen_artigo{
  flex-direction: column;
  align-items: center;
}
.sessao_viagens, .sessao_artigos{
  width: 400px;
  height: 350px;
}
.sessao_viagens{
  margin-bottom: 100px;
}
/*sessao contato*/

.container_formulario{
  padding: 100px 50px 50px 50px;
  flex-direction: column;
  align-items: center;
}
.sessao_formulario{
  margin-bottom: 50px;
}


}


@media(max-width: 700px){
  p,a{
    font-size: .9em;
  }
  li{
    font-size: 1.1em;
    color: #fcfcfc;
  }
  h1{
    font-size: 1.7em;
  }
  h2{
    font-size: 1.2em;
  }
  
  .descricao a img{
    width: 60px;
    margin: 50px 0 30px 0;
  }
  .descricao h1 {
    margin-bottom: 50px;
    
    width: 100%;
  }
  .descricao h2{
    width: 100%;
    margin-bottom: 100px;
    
  }
  .nome_botton{
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  /*Menu Footer*/
  .menu_footer {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 2fr 2fr;
    grid-gap: 15px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 30px 0;
  }
  @media(max-width:400px){
    .menu_footer {
      min-width: 200px;
      display: flex;
     flex-direction: column;
      align-items: center;
      padding: 30px 0;
      
    }
    .menu_footer li{
      list-style: none;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }
  .menu_footer ul {
    margin-bottom: 50px;
  }
  .menu_conteudo a img{
    max-width: 300px;
  }
  .sessao_menu_conteudo::before{
    max-width: 200px;
  }
  
  /*barra de menu*/
  .barra_menu{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
  }
  
  .js-button_hamburguer{
    height: 40px;
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: #262626;
    font-size: 1.5em;
    gap: .5em;
  }
  
  .icone_hamburguer{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #262626 2px solid;
  }
  .icone_hamburguer::after, .icone_hamburguer::before{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    position: relative;
    margin-top: 8px;
  }
  .icone_hamburguer.ativo{
    border-top-color:transparent;
    padding-bottom: 12px;
  }
  .icone_hamburguer.ativo::after{
    transform: rotate(135deg);
    margin-top: 4px;
  }
  .icone_hamburguer.ativo::before{
    transform: rotate(-135deg);
    margin-top: 4px;
    top: 6px;
  }
  .navegacao_menu{
    visibility: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:start;
    gap: 40px;
    position: absolute;
    top: 68px;
    left: 0;
    background: #262626;
    z-index: 100;
    transition: .5s;
  }
  .navegacao_menu.ativo{
    height: calc(100vh - 69px) ;
    visibility: visible;
    overflow-y: auto;
  }
  .barra_menu ul{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    list-style: none;
    gap: 40px;
  }
  .barra_menu ul li{
    padding: 20px;
    color: #fff;
  }
  .barra_menu .button_estilo{
    color: #fcfcfc;
  }
  
  /*section bem vindo*/
  
  
  .bem_vindo{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bem_vindo img{
    max-width: 300px;
  }
  
  .article_boa_vindas h2 img{
    width: 20px;
  }
  .article_boa_vindas p{
    max-width: 300px;
  }
  .informacoes {
    max-width: 300px;
  }
  .historico_profissional{
    max-width: 300px;
  }
  .historico_profissional article{
    width: 300px;
  }
  .habilidades_lista{
    max-width: 200px;
  }
  /*Galeria*/
  .header_galeria{
    max-width: 800px;
    height: 500px;
    padding: 50px 10px;
  }
  .header_galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .input_nav{
    max-width: 300px;
  }
  .header_galeria h2{
    margin-top: 30px;
  }
  .header_galeria article p{
    max-width: 300px;
  }
  /*blog caixa de pesquisa*/
  .header_blog{
    align-items: center;
    padding-top: 50px;
  }
  
  .container_pesquisa{
    width: 300px;
  }
  .sessao_viagens, .sessao_artigos{
    width: 300px;
    height: 200px;
  }
  /*sessao contato*/
  .container_formulario{
    padding: 0;
  }
  .sessao_formulario,
  .sessao_redes_sociais{
    padding: 0;
    max-width: 500px;
    border: none;
  }
  .sessao_formulario input,.sessao_formulario textarea{
    max-width: 300px;
  }
  .sessao_formulario span, .sessao_redes_sociais span{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
}
